body {
  font-family: 'Roboto', sans-serif;
}

.main {
  min-height: 100vh;
}
.container {
  width: 1200px;
  min-height: 100vh;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  padding: 0px 20px 20px 20px;
  text-align: right;
		&__body {
      width: 336px;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 10px;
      overflow: hidden;
		}
		&__body--top {
      height: 28px;
      background: #FFDC40;
      margin: 0px 0px 17px 0px;
		}
		&__body--title {
      font-family: Roboto;
      font-weight: 900;
      font-size: 26px;
      line-height: 30px;
      text-align: center;
      text-transform: capitalize;
      margin: 0px 0px 12px 0px;
		}
		&__body--sort {
      display: inline-block;
      background: url(../images/sort-top.svg) right no-repeat;
      width: 25px;
      height: 15px;
      margin: 0px 10px 11px 0px;
      cursor: pointer;
      &:hover {
        background: url(../images/sort-top-hover.svg) right no-repeat;
      }
		}
		
		&__item {
      margin: 0px 0px 20px 0px;
      height: 40px;
      border: 1px solid #C4C4C4;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      &--delet {
        background: url(../images/delet.svg) no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 9px; 
        right: 10px;
        cursor: pointer;
        &:hover {
          background: url(../images/delet-hover.svg) no-repeat;
        }
      }
      &--drag {
        background: url(../images/drag.svg) no-repeat;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 12px;
        left: 8px;
        &:hover {
          cursor: move;
        }
      }
    }

    &__input {
      background-color: transparent;
      width: 80%;
      height: 100%;
      display: block;
      margin: 0px auto;
      
    }
		&__btn {
      display: block;
      margin: 0px auto;
      padding: 0px 0px 0px 12px;
      width: 150px;
      height: 42px;
      background: #833AE0 url(../images/add-btn.svg) left no-repeat;
      border-radius: 71px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;
      &:hover {
        background: #9953F1 url(../images/add-btn.svg) left no-repeat;
      }
    }
}

.selected {
  background-color: #FFDC40;
}

.sort-bottom {
  display: inline-block;
  background: url(../images/sort-bottom.svg) right no-repeat;
  width: 25px;
  height: 15px;
  margin: 0px 10px 11px 0px;
  cursor: pointer;
}
.sort-bottom:hover {
  background: url(../images/sort-bottom-hover.svg) right no-repeat;
}